<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<div class=container>
  <div class=content>
    <div>
      <table class="table">
        <tr>
        {% for key in heartbeats %}
        <th>{{ key }}</th>
        {% endfor %}
        </tr>
        <tr>
        {% for val in heartbeats.values() %}
          <td>{{ val }} </td>
        {% endfor %}
        </tr>
      </table>
    </div>
    <div id="alerts-panel" >
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='site.js') }}"></script>
{% endblock %}
