<!DOCTYPE html>
<html>
  <head lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/react-with-addons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/minivents.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/moment.min.js') }}"></script>

    <meta charset="UTF-8">
    <title>FACT ShiftHelper Webinterface</title>
  </head>
  <body>
    <header>
      <div class="pure-menu pure-menu-horizontal">
      <a href="/" class="pure-menu-heading pure-menu-link">Home</a>
      <ul class="pure-menu-list">
        {% if not current_user.is_authenticated %}
          <li class="pure-menu-item pure-menu-disabled">Test Call</li>
          <li class="pure-menu-item pure-menu-disabled">Test Telegram</li>
          <li class="pure-menu-item">
            <form method="POST" class="pure-form" action="/">
              <label>Username{{ form.username() }}</label>
              <label>Password{{ form.password() }}</label>
              {{ form.submit() }}
              {{ form.hidden_tag() }}
            </form>
            {% if form.errors %}
              <span style="color: red;">Invalid username/password </span>
            {% endif %}
          </li>
        {% else %}
          <li class="pure-menu-item ">
            <a href="/testCall" class="pure-menu-link">Test Call</a>
          </li>
          <li class="pure-menu-item ">
            <a href="/testTelegram" class="pure-menu-link">Test Telegram</a>
          </li>
          <li class="pure-menu-item">
            <form action="/logout">
              Logged in as: {{ current_user.username }}
              <button class="pure-button">
                Logout
              </button>
            </form>
          </li>
        {% endif %}
      </ul>
      <div />
      <h1>FACT ShiftHelper Webinterface</h1>
    </header>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='site.js') }}"></script>
  </body>
</html>
