<!DOCTYPE html>
<html>
  <head lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/react-with-addons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/minivents.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/moment.min.js') }}"></script>

    <meta charset="UTF-8">
    <title>FACT ShiftHelper Webinterface</title>
  </head>
  <body>
    <header>
      <div class="pure-g">
        <div class="pure-u-1-2">
          <h1>FACT ShiftHelper Webinterface</h1>
        </div>
        <div class="pure-u-1-2">
        {% if current_user.is_authenticated %}
          <form action="/logout">
            Logged in as: {{ current_user.username }}
            <button class="pure-button">
              Logout
            </button>
          </form>
        {% else %}
          <form method="POST" class="pure-form" action="/">
            <label>Username{{ form.username() }}</label>
            <label>Password{{ form.password() }}</label>
            {{ form.submit() }}
            {{ form.hidden_tag() }}
          </form>
          {% if form.errors %}
            {% for key, errorlist in form.errors.items() %}
              {% for error in errorlist%}
              <span style="color: red;">{{ key }}: {{error}} </span>
              {% endfor%}
            {% endfor%}
          {% endif %}
        {% endif %}
        </div>
      </div>
    </header>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='site.js') }}"></script>
  </body>
</html>
