<!DOCTYPE html>
<html>
  <head lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/react-with-addons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/minivents.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/moment.min.js') }}"></script>

    <meta charset="UTF-8">
    <title>FACT ShiftHelper Webinterface</title>
  </head>
  <body>
    <div class="content">
      <h1>FACT ShiftHelper Webinterface</h1>
      {% block content %}
      {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='site.js') }}"></script>
  </body>
</html>
