<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<div class=container>
  <div class=content>
    <div class="form-check ml-auto">
      <input checked type="checkbox" class="form-check-input" id="autoScroll">
      <label class="form-check-label" for="autoScroll">
        Scroll to bottom
      </label>
    </div>
    <pre id="log"></pre>
  </div>
</div>

<script charset="utf-8">
  "use strict";

  let streamURL = '{{ url_for('logstream') }}';
  let source = new EventSource(streamURL);

  source.onmessage = function(e) {
    if (e.data !== '') {
      let log = document.getElementById('log');
      let autoScroll = document.getElementById('autoScroll');
      let node = document.createTextNode(e.data + '\n');
      log.appendChild(node);
      if ( autoScroll.checked ) {
        log.scrollTop = log.scrollHeight;
      }
    }
  }

  window.onbeforeunload = function () {
    source.close();
  }
</script>
{% endblock %}

