<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<div class=container>
  <div class=content>
    <pre id="log"></pre>
  </div>
</div>

<script charset="utf-8">
  "use strict";

  let streamURL = '{{ url_for('logstream') }}';
  let source = new EventSource(streamURL);

  source.onmessage = function(e) {
    if (e.data !== '') {
      let log = document.getElementById('log');
      let node = document.createTextNode(e.data + '\n');
      log.appendChild(node);
    }
  }

  window.onbeforeunload = function () {
    source.close();
  }
</script>
{% endblock %}

