<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
  <main class="container">
    <h2>Login</h2>
    <form method="POST" action="/login?next={{request.args.get('next', '/')}}" >
      <div class="form-group">
        <input id="username" class="form-control form-control-sm" name="username" type="text" value placeholder="username">
        <input id="password" class="form-control form-control-sm" name="password" type="password" value placeholder="password">
      </div>
      <button type="submit" class="btn btn-secondary btn-sm">Login</button>
    </form>
  </main>
{% endblock %}
