<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<div class=container>
  <div class=content>
    {% if success %}
    <h3>I sent you a message</h3>
    {% else %}
    <h3>I could not send you a message</h3>
    <p>
    Did you enter your <q>Telegram ID</q> in the logbook?
    </p>
    <p>
      If not, ask <a href="http://telegram.me/whatIsMyIDBot">our Bot</a>
      for your ID and enter it in your logbook 
      <a href="https://www.fact-project.org/logbook/usercp.php?action=profile">Profile</a>
    </p>
    {% endif %}
    <a class="pure-button" href="/">Ok</a>
  </div>
</div>
{% endblock %}
