@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
body {
  font-family: 'Fira Sans', sans-serif;
}

.content {
    margin-left: 10%;
    width: 80%;
}

.button-acknowledged {
    background: rgb(28, 184, 65); /* green */
}

.button-new {
    background: rgb(202, 60, 60); /* dark red */
}
